backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bottle==0.12.9
bs4==0.0.1
cloudpickle==0.2.1
cymem==1.31.2
decorator==4.0.10
Django==1.9.2
EasyProcess==0.2.2
ipython==4.2.0
ipython-genutils==0.1.0
murmurhash==0.26.4
nltk==3.2.1
numpy==1.11.1
pathlib2==2.1.0
pdfkit==0.5.0
pdfminer==20140328
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.3.0
plac==0.9.5
preshed==0.46.4
ptyprocess==0.5.1
pymongo==3.2.2
python-logstash==0.4.6
python-slugify==1.2.0
PyVirtualDisplay==0.2
reportlab==3.3.0
requests==2.10.0
selenium==2.53.5
semver==2.6.0
simplegeneric==0.8.1
six==1.10.0
spacy==0.101.0
sputnik==0.9.3
thinc==5.0.8
traitlets==4.2.1
Unidecode==0.4.19
uWSGI==2.0.13.1
