wkhtmltopdf
xvfb
firefox version 46. http://www.askmetutorials.com/2016/04/install-firefox-46-on-ubuntu-1604-1404.html
python-dev
python-pip
zlib1g-dev
libjpeg8-dev

python -m nltk.downloader wordnet
python -m spacy.en.download

sudo apt-get install -y xorg dbus-x11 xfonts-100dpi xfonts-75dpi xfonts-cyrillic